@model Category

@{
    ViewData["Title"] = "Create Category";
}

<h1>Create Category</h1>

<form asp-controller="Category" asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nome categoria</label>
        <input type="text" asp-for="Name" class="form-control" id="name" />
        <span asp-validation-for="Name" class="text-danger fw-bold"></span>
    </div>
    <div class="text-center">
        <a asp-action="Index" class="btn btn-danger px-5 btn-crea-modifica">Annulla</a>
        <input type="submit" class="btn btn-warning fs-5 px-5 btn-crea-modifica" value="Crea">
    </div>
</form>
