@using la_mia_pizzeria_static.Data
@model FotosFormModel

<link rel="stylesheet" href="~/css/Create.css" asp-append-version="true" />

@if (User.IsInRole("Admin"))
{
    <div class="main">
    <div class="container d-flex justify-content-center align-items-start min-vh-100 mt-5">
        <form asp-controller="Foto" asp-action="Create" method="post" class="form-pizza bg-dark text-white p-4 rounded">
            @Html.AntiForgeryToken()
            <div class="text-center">
                <h2>Add New Pizza</h2>
            </div>
            <div class="mb-3">
                <label asp-for="Fotos.Name" class="form-label"><strong>Nome:</strong></label>
                <input asp-for="Fotos.Name" class="form-control" />
                <span asp-validation-for="Fotos.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Fotos.Description" class="form-label"><strong>Descrizione:</strong></label>
                <input asp-for="Fotos.Description" class="form-control" />
                <span asp-validation-for="Fotos.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Fotos.Image" class="form-label"><strong>Foto (Superflua):</strong></label>
                <input asp-for="Fotos.Image" class="form-control" />
                <span asp-validation-for="Fotos.Image" class="text-danger"></span>
            </div>
            <div class="mb-3 d-flex flex-wrap gap-2">
                <div><strong>Categorie: </strong></div>
                <div class=" d-flex flex-wrap gap-2">
                    @for (int i = 0; i < Model.Categories.Count; i++)
                    {
                        <div>
                            <input type="checkbox" name="SelectedCategories" value="@Model.Categories[i].Value"
                            @(Model.SelectedCategories.Contains(Model.Categories[i].Value) ? "checked" : "") />
                            @Model.Categories[i].Text
                        </div>
                    }
                </div>
            </div>
            <div class="text-end">
                <input type="submit" class="show-button" value="Crea">
            </div>
        </form>
    </div>
    </div>
}
else
{
    <div class="text-center text-white my-5 py-5">
        <h1>Only Admins are authorized</h1>
    </div>
    
}