@using net_il_mio_fotoalbum.Data
@model Photo

<div class="container">

    <form asp-controller="Photo" asp-action="CreatePhoto" method="post">

        @Html.AntiForgeryToken()

        <div class="mb-3">
            <strong>Titolo:</strong>
            <input asp-for="Title" class="d-block w-100" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="Description" class="d-block w-100" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Immagine:</strong>
            <input asp-for="ImageUrl" class="d-block w-100" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Visibilità:</strong>
            <input asp-for="IsVisible" class="d-block w-100" />
            <span asp-validation-for="IsVisible" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Categoria:</strong>
            <input asp-for="CategoryId" class="d-block w-100" />
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="col"><a href="@Url.Action("Index", "Photo")">Indietro</a></div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva" />
        </div>
    </form>
</div>